.example-container {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: url("https://static.vecteezy.com/system/resources/previews/013/488/415/non_2x/tasty-fast-food-hand-drawn-for-cute-background-illustration-design-wallpaper-in-pattern-hand-drawn-style-vector.jpg") 50% fixed;
}

.wrapper {
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    background: rgba(140, 75, 225, 0.650);
}

.sidenav {
    display: flex;
    flex-direction: column;
}

.sidenav-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.sidenav-content a.mat-button {
    flex-grow: 1;
    text-align: left;
    width: 100%;
}

.rounded-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin: 0 auto 20px;
}

.rounded-image {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.opensidenav {
    width: 300px;
    border: 1px solid #444444;
}

.sidenav-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}