<mat-sidenav-container class="example-container">
    <mat-sidenav #drawer mode="side" class="sidenav">
        <!-- Contenido del sidenav -->
        <div class="sidenav-content">
            <div class="rounded-image-container">
                <img src="./assets/img/logo-delicias.png" class="rounded-image">
            </div>
            <a *ngIf="rol === '1'" mat-button [routerLink]="'/dashboard/inicio'">
                <mat-icon>home</mat-icon> INICIO
            </a>
            <a *ngIf="rol === '1'" mat-button [routerLink]="'/dashboard/admin/mesa'">
                <mat-icon>table_chart</mat-icon> MESAS
            </a>
            <a *ngIf=" rol === '2' " mat-button [routerLink]="'/dashboard/mesa'">
                <mat-icon>table_chart</mat-icon> MESAS
            </a>
            <a *ngIf=" rol === '1' || rol === '2' " mat-button [routerLink]="'/dashboard/pedidos'">
                <mat-icon>receipt</mat-icon> PEDIDOS
            </a>
            <a *ngIf=" rol === '1' " mat-button [routerLink]="'/dashboard/admin/menu'">
                <mat-icon>restaurant_menu</mat-icon> MENU
            </a>
            <a *ngIf=" rol === '1' || rol === '2' " mat-button [routerLink]="'/dashboard/pago'">
                <mat-icon>attach_money</mat-icon> FACTURAS
            </a>
            <a *ngIf=" rol === '1' " mat-button [routerLink]="'/dashboard/roles'">
                <mat-icon>supervisor_account</mat-icon> ROLES
            </a>
            <button mat-button  class="example-icon favorite-icon" routerLink="/">
                <mat-icon>logout</mat-icon>
            </button>
        </div>
    </mat-sidenav>
    <mat-sidenav-content class="wrapper">
        <!-- Contenido principal -->
        <mat-toolbar color="primary">
            <mat-toolbar-row color="primary">
                <button mat-icon-button (click)="drawer.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
        <!-- Contenido principal de tu página -->
        <div>
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>