<mat-toolbar color="primary">
    <mat-toolbar-row color="primary">
        <mat-icon matSuffix>point_of_sale</mat-icon>
        <span class="example-spacer"></span>
        <button mat-button [routerLink]="'/dashboard/inicio'">
            INICIO
        </button>
        <button mat-button *ngIf=" rol === '1' || rol === '2' " [routerLink]="'/dashboard/pedidos'">
            PEDIDOS
        </button>
        <button mat-button *ngIf=" rol === '1' " [routerLink]="'/dashboard/menu'">
            MENU
        </button>
        <button mat-button *ngIf=" rol === '1' || rol === '2' " [routerLink]="'/dashboard/pago'">
            FACTURAS
        </button>
        <button mat-button *ngIf=" rol === '1' " [routerLink]="'/dashboard/roles'">
            ROLES
        </button>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" routerLink="/">
            <mat-icon>logout</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>