<mat-toolbar color="primary">
    <span>Sistema</span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/dashboard">Dashboard</button>
    <button mat-button routerLink="/dashboard/pedidos">Pedidos</button>
    <button mat-button routerLink="/dashboard/menu">Menu</button>
    <button mat-button routerLink="/dashboard/pago">Pago</button>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" routerLink="/" aria-label="Example icon-button with heart icon">
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>