.mat-toolbar {
    background-color: #8855db;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    justify-items: center;
    height: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.mesa-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    height: 160px;
    width: 200px;
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.mesa-card:hover {
    cursor: pointer;
}

.mesa-numero {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
    padding-bottom: 8px;
    border-bottom: 1px solid #fff;
}

.mesa-estado {
    font-size: 18px;
    color: #fff;
    margin-bottom: 5px;
}

.mesa-capacidad {
    font-size: 18px;
    color: #fff;
    padding-bottom: 20px;
}

a.disponible-link {
    background-color: #4caf50;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;
}

a.disponible-link:hover {
    background-color: #357a38;
    color: #fff;
}

.button {
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.crear-mesa-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #000000;

}

.crear-mesa-button mat-icon {
    color: #ffffff;
    margin-bottom: 5px;
}

.example-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
}