.container-clientes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid white;
    padding: 20px;
}

.container-form {
    text-align: center;
}

mat-form-field {
    max-width: 400px;
    width: 100%;
    margin: auto;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

td {
    padding-right: 8px;
}

/* Estilo para el botón de agregar cliente */
.add-button {
    background-color: #3f51b5;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50%;
}

.add-button:hover {
    background-color: #283593;
    /* Cambia el color de fondo al pasar el ratón por encima */
}

/* Estilo para el botón de aceptar */
.custom-button {
    background-color: #4caf50;
    /* Cambia el color de fondo */
    color: white;
    /* Cambia el color del texto */
    border: none;
    /* Elimina el borde */
    padding: 10px 20px;
    /* Añade espacio alrededor del texto */
    border-radius: 5px;
    /* Añade bordes redondeados */
}

.custom-button:hover {
    background-color: #388e3c;
    /* Cambia el color de fondo al pasar el ratón por encima */
}