<div class="container mat-elevation-z5" [@fadeInOut]>
    <mat-toolbar>
        <span>CREAR FACTURA</span>
    </mat-toolbar>
    <div class="container-clientes">
        <form (ngSubmit)="submitForm()">
            <div>
                <mat-form-field>
                    <mat-label>Pedido</mat-label>
                    <input matInput [(ngModel)]="formData.id_pedido" id="id_pedido" name="id_pedido" [readonly]="true">
                </mat-form-field>
            </div>
            <div class="input-container">
                <mat-form-field class="client-input mat-form-field-flex">
                    <mat-label>Cliente</mat-label>
                    <input type="text" id="id_cliente" name="id_cliente" matInput [formControl]="myControl"
                        [matAutocomplete]="auto">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                            {{ option }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <!-- Contenedor de botones -->
            <div class="button-container">
                <button mat-icon-button (click)="agregarCliente()" class="add-button">
                    <mat-icon>add_circle</mat-icon>
                </button>
                <button type="submit" class="custom-button">Aceptar</button>
            </div>
        </form>
    </div>
</div>