table {
    width: 100%;
}

th {
    text-align: center;
    font-weight: bold;
}

.mat-header-cell {
    text-align: center;
}

.mat-column-nombre {
    text-align: center;
}

.mat-column-stock {
    text-align: center;
}

.mat-column-precio {
    text-align: center;
}

.mat-column-tiempo {
    text-align: center;
}

.mat-column-estado {
    text-align: center;
}

.mat-column-id_categoria {
    text-align: center;
}

.mat-mdc-form-field {
    padding-top: 10px;
    font-size: 14px;
    width: 100%;
}