.body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4568DC;
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
    background: linear-gradient(to right, #B06AB3, #4568DC);
    height: 100%;
}

.rounded-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin: 0 auto 20px;
}

.rounded-image {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.login {
    width: 100%;
    max-width: 300px;
    text-align: center;
    border: 2px solid rgb(129, 21, 201);
    padding: 20px;
    border-radius: 5%;
}

.ancho {
    width: 80%;
}

.button {
    height: 50px;
}

.spinner {
    margin: 0 auto;
}