<div class="body">
    <div class="wrapper">
        <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="Ingresar()" class="login" >
            <div>
                <img src="./assets/img/logo-delicias.png" class="rounded-image" width="100%">
            </div>
            <p class="title">Log in</p>
            <input type="text" placeholder="Username" autofocus autocomplete="off" formControlName="usuario" />
            <i class="fa fa-user"></i>
            <input type="password" placeholder="Password" autocomplete="off" formControlName="password" />
            <i class="fa fa-key"></i>
            <button type="submit" [disabled]="form.invalid">
                <i class="spinner"></i>
                <span class="state">Log in</span>
            </button>
        </form>
    </div>
</div>