.body {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    background: #4568DC;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #B06AB3, #4568DC);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100%;
}

.login {
    width: 100%;
    max-width: 300px;
    text-align: center;
}

.ancho {
    width: 80%;
}

.button {
    height: 50px;
}

.spinner {
    margin: 0 auto;
}