.verfactura {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.verfactura ul {
    list-style-type: none;
    padding-left: 0;
}

.verfactura ul li {
    margin-bottom: 10px;
}