<div class="container mat-elevation-z5" [@fadeInOut]>
    <mat-toolbar>
        <span>DATOS DEL CLIENTE</span>
    </mat-toolbar>
    <div class="container-clientes">
        <form (ngSubmit)="submitForm()">
            <div>
                <mat-form-field>
                    <mat-label>Pedido</mat-label>
                    <input matInput [(ngModel)]="formData.id_pedido" id="id_pedido" name="id_pedido" [readonly]="true">
                </mat-form-field>
            </div>
        </form>
    </div>
</div>
