.container-detalles {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid white;
    padding: 30px;
    text-align: center;
}

mat-form-field {
    width: fit-content;
    max-width: 500px;
    width: 200%;
    margin: auto;
}

td {
    padding-right: 8px;
}

.button-container {
    margin-top: 10px;
}

.custom-button {
    font-size: 18px;
    padding: 20px 30px;
    margin-right: 20px;
}

.error-snackbar {
    background-color: red;
    color: white;
}
