<div class="container mat-elevation-z5">
    <mat-toolbar>
        <span>DETALLES DEL PEDIDO</span>
    </mat-toolbar>
    <div class="container-detalles">
        <form (ngSubmit)="submitForm()">

            <div>
                <mat-form-field>
                    <mat-label>Pedido</mat-label>
                    <input matInput [(ngModel)]="formData.id_pedido" id="id_pedido" name="id_pedido" [readonly]="true">
                </mat-form-field>
            </div>

            <div>
                <mat-form-field>
                    <mat-label>Producto</mat-label>
                    <input type="text"
                        matInput
                        [formControl]="myControl"
                        [matAutocomplete]="auto">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                            {{ option }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field>
                    <mat-label>Cantidad</mat-label>
                    <input matInput [(ngModel)]="formData.cantidad" id="cantidad" name="cantidad">
                </mat-form-field>
            </div>

            <div>
                <mat-form-field>
                    <mat-label>Detalles</mat-label>
                    <textarea matInput [(ngModel)]="formData.detalle" id="detalle" name="detalle"></textarea>
                </mat-form-field>
            </div>

            <div class="button-container">
                <button mat-raised-button color="primary" type="submit" class="custom-button">Aceptar</button>
            </div>
            <div class="button-container">
                <button mat-raised-button type="button" routerLink="/dashboard/pedidos"
                    class="custom-button">Volver</button>
            </div>

        </form>
    </div>
</div>