<div class="container mat-elevation-z3">
    <mat-toolbar>
        <span>DETALLES DEL PEDIDO</span>
    </mat-toolbar>
    <form class="example-form" style="padding: 20px;">
        <mat-form-field class="example-full-width">
            <mat-label>Pedido</mat-label>
            <input matInput placeholder="Id. Pedido">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Producto</mat-label>
            <input matInput placeholder="Id. Producto">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Cantidad</mat-label>
            <input matInput placeholder="Cantidad">
        </mat-form-field>
    </form>
</div>